<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Project Kowalski</title>
    <style>
        #title{
            max-width: 100%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<img id="title" src="{{ url_for('static',    filename='img/K2.jpg') }}" alt="img">
</body>
</html>