<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/login.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Project Kowalski</title>
</head>
<body>
    <div id="backbox"></div>
	<div id="frontbox"></div>
    <div id="bodybox">
        <img id="title" src="{{ url_for('static',    filename='img/login.svg') }}" alt="img">

        <div id="statusbox">
            <h1>Dear User,</h1>
            <p id="statusboxp">
                We do not like storing any personal or sensitive data and will therefore not ask you to
                make an account to use Project Kowalski. However, to keep all the data on our servers nicely organized,
                we ask you to set a session ID before starting using any of our tools. By attaching all your data to
                your session ID, we avoid any accidental data cross-over between users. Even though your data will be
                attached and saved under your session ID on our servers, we do not keep your data. Once you end your
                session or close your browser, your session ID and ALL corresponding data will be deleted on our end.
                Please make sure you download all the data
                you need before ending the session.
            </p>
            <div id="sessionIDbox">
                <div id="setsessionID">Set Session ID:</div>
                <form id="sessionIDform" action="{{ url_for('login') }}" method="post">
                    <input id="forminputtext" type="text" name="sessionname" placeholder="Enter Session ID Here">
                    <input id="forminputsubmit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>